@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-color: #000000;
  --primary-bg-color: #ffffff;
  --bg-color: #2f303a;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: roboto, sans-serif;
  background-color: var(--primary-bg-color);
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo-header {
  margin: 16px 0;
  width: 134px;
  height: 28px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header-2 {
  color: var(--logo-color);
}

@media screen and (min-width: 1200px) {
  .logo-header {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .logo-header-2 {
    color: var(--logo-color);
  }
}

.logo-footer {
  width: 154px;
  height: 24px;
  left: 163px;
  top: 4908px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-footer-2 {
  color: var(--primary-bg-color);
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    width: 145px;
    height: 31px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  width: 100%;
  max-width: 450px;
  height: 90%;
  max-height: 609px;
  overflow: scroll;
  background-color: var(--primary-bg-color);
}

.backdrop.is-hidden .modal {
  -webkit-transform: scale(0.9) translate(-50%, -50%);
          transform: scale(0.9) translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.button-modal {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
}

.button-modal:hover .icon-modal {
  fill: var(--accent-color);
}

.icon-modal {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 14px;
  left: 14px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-form {
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.input-name,
.input-tel,
.input-email {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 42px;
}

textarea {
  display: block;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-title p {
  margin-bottom: 12px;
  margin-top: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-columns: var(--title-text-color);
          columns: var(--title-text-color);
}

.modal-field {
  position: relative;
  margin-bottom: 10px;
}

.modal-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-field .icon {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 11px;
  left: 12px;
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-color: transparent;
}

.modal-checkbox {
  position: relative;
  margin-left: 36.38px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.modal-checkbox a {
  color: var(--accent-color);
  text-decoration: underline;
}

.check-box {
  position: absolute;
  width: 16px;
  height: 15px;
  left: -24.38px;
  top: 4px;
  background-image: url(/images/checkbox.svg);
  background-size: cover;
}

.check-input:checked + .check-box {
  background-image: url(/images/icon-check.svg);
}

textarea:focus,
.input-name:focus,
.input-tel:focus,
.input-email:focus {
  outline: none;
  border-color: var(--accent-color);
}

.input-tel:focus + .modal-tel,
.input-name:focus + .modal-name,
.input-email:focus + .modal-email {
  fill: var(--accent-color);
}

textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
}

.modal {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-submit {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 200px;
  height: 50px;
  color: var(--primary-bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: none;
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
  .button-submit {
    left: 164px;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

/* mailing footer */
.mailing-form {
  display: block;
  position: relative;
}

.mailing-form h3 {
  margin: 0 0 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  text-align: center;
}

.input-mailing {
  width: 100%;
  max-width: 450px;
  height: 50px;
  padding: 16px;
  margin-bottom: 20px;
  color: var(--primary-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: var(--bg-color);
}

.mailing-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border: transparent;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

@media screen and (min-width: 768px) {
  .mailing-form {
    margin-top: 60px;
  }
  .mailing-form h3 {
    text-align: center;
    margin-top: 12px;
  }
  .input-mailing {
    width: 768px;
  }
  .mailing-block {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .mailing-form {
    margin-top: 0px;
  }
  .mailing-form h3 {
    text-align: start;
  }
  .mailing-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-block {
    width: 100%;
  }
  .input-mailing {
    width: 358px;
    margin-right: 12px;
  }
}

.button-burger {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-icon {
  width: 40px;
  height: 40px;
}

.button-burger,
.mobile-close-button {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-icon {
  width: 24px;
  height: 16px;
}

.mobile-close-icon {
  width: 40px;
  height: 40px;
}

.mobile-close-button {
  position: absolute;
  right: 15px;
  top: 10px;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-100%);
          transform: translateX(-50%) translateY(-100%);
  width: 100%;
  max-width: 480px;
  height: 796px;
  padding: 48px 40px;
  background-color: var(--primary-bg-color);
  border: none;
  z-index: 1;
}

.mobile-menu.is-open {
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-menu-nav-link:hover, .mobile-menu-nav-link:focus {
  color: var(--accent-color);
}

.mobile-menu-nav-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-list {
  margin-top: 302px;
}

.mobile-contact-list .mobile-contact-list-item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact-list .mobile-contact-list-item:last-child {
  margin-bottom: 64px;
}

.mobile-contact-list .mobile-contact-link-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-contact-list .mobile-contact-link-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-contact-list .mobile-contact-link-tel:hover,
.mobile-contact-list .mobile-contact-link-tel:focus {
  color: var(--accent-color);
}

.mobile-contact-list .mobile-contact-link-mail:hover,
.mobile-contact-list .mobile-contact-link-mail:focus {
  color: var(--accent-color);
}

.mobile-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.mobile-social-list a {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-social-list .mobile-social-link-item {
  padding-right: 15px;
}

.mobile-social-list .mobile-social-link-item:not(:last-child) {
  margin-right: 20px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contact-us {
    display: none;
  }
}

.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .mobile-close-button,
  .button-burger {
    display: none;
  }
  .container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 83px;
    padding-left: 0;
    /* Задаем падингом больше зону для ховер и фокус*/
  }
  .nav-list .item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list a {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .nav-list .active {
    color: var(--accent-color);
  }
  .nav-list .active::after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }
  .nav-list a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }
  .nav-list a:hover,
  .nav-list a:focus {
    color: var(--accent-color);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-us .item:not(:last-child) {
    margin-bottom: 10px;
  }
  .contact-us a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  .contact-us a:hover,
  .contact-us a:focus {
    color: var(--accent-color);
    -webkit-transition-duration: 500ms;
            transition-duration: 500ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-us a:hover .icon-letter,
  .contact-us a:focus .icon-letter,
  .contact-us a:hover .icon-smartphone,
  .contact-us a:focus .icon-smartphone {
    fill: currentColor;
  }
  .icon-letter,
  .icon-smartphone {
    margin-right: 10px;
    fill: var(--primary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact-us {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact-us .item:not(:last-child) {
    margin: 0px 30px 0px 0px;
  }
  .contact-us a {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.section-hero {
  width: 100%;
  padding: 118px 15px;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-font.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-font.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  color: var(--primary-bg-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
  border-style: solid;
  border-radius: 4px;
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
    padding: 200px 0;
    height: 600px;
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.363;
  }
}

.futures {
  padding-top: 60px;
  padding-bottom: 60px;
}

.futures-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 0;
}

.futures-flex .item {
  max-width: 450px;
  display: block;
}

.futures-flex .item:not(:last-child) {
  margin-bottom: 30px;
}

.futures-flex .item::before {
  display: block;
  max-width: 450px;
  height: 120px;
  content: "";
  background-color: #f5f4fa;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.futures-flex .icon-detales::before {
  background-image: url("../images/antenna 1.svg");
}

.futures-flex .icon-intime::before {
  background-image: url("../images/clock 1.svg");
}

.futures-flex .icon-plan::before {
  background-image: url("../images/diagram 1.svg");
}

.futures-flex .icon-tech::before {
  background-image: url("../images/astronaut 1.svg");
}

.futures-list-title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.futures-list-description {
  display: inline-block;
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .futures-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .futures-flex .item {
    max-width: 354px;
  }
  .futures-flex .item:nth-child(odd) {
    margin-right: 30px;
  }
  .futures-flex .item:not(:last-child) {
    margin-bottom: 0px;
  }
  .futures-flex .item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .futures-flex .item::before {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .futures {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .futures-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .futures-flex .item {
    max-width: 270px;
    margin: 0;
  }
  .futures-flex .item:not(:last-child) {
    margin-right: 30px;
  }
  .futures-flex .item:nth-child(-n + 2) {
    margin-bottom: 0px;
  }
}

/*what-we-are-do*/
.work-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.work-flex .item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work-flex .item img {
  display: block;
  width: 370px;
  height: 294px;
}

.work-flex .item + .item {
  margin-left: 30px;
}

.what-we-are-do {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.desctop-app,
.mobile-app,
.designe-solution {
  position: relative;
}

.description-our-work {
  display: block;
  position: absolute;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-bg-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-work {
  padding-top: 0px;
  padding-bottom: 94px;
}

.container-our-work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.our-team-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-team {
  background-color: #f5f4fa;
}

.our-team p {
  margin-top: 0;
  margin-bottom: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.our-team h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.our-team img {
  margin-top: 0;
  margin-bottom: 30px;
  width: 100%;
  max-width: 450px;
  max-height: 460px;
}

.our-team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our-team-list .item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 450px;
  text-align: center;
  background: var(--primary-bg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list .item:not(:last-child) {
  margin-bottom: 30px;
}

.our-team-list h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.soc-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 122px 24px 122px;
  padding-left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 44px;
  max-height: 44px;
  border-radius: 50%;
}

.soc-link:hover, .soc-link:focus {
  background-color: var(--accent-color);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: var(--primary-bg-color);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

@media screen and (min-width: 768px) {
  .our-team h2 {
    font-size: 28px;
    line-height: 1.17;
  }
  .our-team img {
    width: 100%;
    max-width: 354px;
    max-height: 374px;
  }
  .our-team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .our-team-list .item {
    width: 100%;
    max-width: 354px;
    max-height: 536px;
  }
  .our-team-list .item:not(:last-child) {
    margin-bottom: 0px;
  }
  .our-team-list .item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
  .soc-list {
    margin: 0px 74px 24px 74px;
  }
}

@media screen and (min-width: 1200px) {
  .our-team-container {
    padding: 94px 0px;
  }
  .our-team h2 {
    padding-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 0px;
  }
  .our-team-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .our-team-list .item {
    width: 100%;
    max-width: 270px;
    max-height: 428px;
  }
  .our-team-list .item:nth-child(-n + 2) {
    margin-bottom: 0px;
  }
  .our-team-list .item:not(:last-child) {
    margin-right: 30px;
  }
  .our-team-list h3 {
    line-height: 1.19;
  }
  .our-team-list p {
    line-height: 1.19;
  }
  .soc-list {
    margin: 0px 32px 30px 32px;
  }
}

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0px auto 30px;
}

.client-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.client-link:hover, .client-link:focus {
  border-color: var(--accent-color);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .client-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .client-item:nth-child(-n + 4) {
    margin-bottom: 30px;
  }
  .client-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.client-item:hover .client-icon,
.client-item:focus .client-icon {
  fill: var(--accent-color);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-icon {
  fill: #afb1b8;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .client-item:not(:last-child) {
    margin-bottom: 0px;
  }
  .client-item:nth-child(-n + 3) {
    margin-bottom: 30px;
  }
  .client-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .client-item {
    width: 100%;
    max-width: 226px;
    max-height: 90px;
  }
  .client-link {
    width: 100%;
    max-width: 226px;
    max-height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .client-title {
    font-size: 36px;
    line-height: 1.16;
  }
  .client-item {
    max-width: 170px;
    max-height: 90px;
  }
  .client-item:nth-child(-n + 3) {
    margin-bottom: 0px;
  }
}

/*FOOTER*/
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-color);
}

.footer-block {
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
  margin: 0 auto 20px;
}

.address-list {
  padding-left: 0;
  text-align: center;
}

.address-item:not(:last-child) {
  margin-bottom: 8px;
}

.address-office {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  text-align: center;
}

.address-mail,
.address-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.soc-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 206px;
  height: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.soc-block ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.soc-block h3 {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 20px;
}

.soc-block a {
  background-color: #ffffff1a;
}

.soc-block .soc-item:not(:last-child) {
  margin-right: 10px;
}

.icon-footer {
  fill: var(--primary-bg-color);
}

.soc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.soc-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--accent-color);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link:hover .soc-icon,
.soc-link:focus .soc-icon {
  fill: var(--primary-bg-color);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 769px) {
  .footer-block {
    max-width: 768px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .contact-block {
    width: 50%;
  }
  .soc-block {
    width: 50%;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .logo-footer {
    display: block;
    margin: 0px auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-block {
    max-width: 1200px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .address-list {
    text-align: start;
  }
  .logo-footer {
    margin: 0 0 20px;
  }
  .contact-block {
    margin-right: 70px;
  }
  .soc-block {
    margin-top: 12px;
    margin-right: 93px;
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
}

.portfolio-section {
  border-top: 1px solid #ececec;
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-section-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.portfolio-section-list .item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-section-list .item:nth-child(-n + 3) {
  margin-bottom: 15px;
}

.portfolio-section-list button {
  background-color: #f5f4fa;
  color: var(--title-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-color: transparent;
  border-radius: 4px;
  padding: 6px 22px;
}

.portfolio-section-list button:hover,
.portfolio-section-list button:focus {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio-list .item {
  width: 100%;
  max-width: 450px;
  margin-bottom: 30px;
  display: block;
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.portfolio-list .item-title {
  padding: 20px 24px;
  width: 402px;
  margin-right: 0;
}

.portfolio-list h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: 0 0 4px 0;
}

.portfolio-list-title {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.overlay-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transition: 250ms ease;
  transition: 250ms ease;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 294px;
}

.portfolio-link {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.15);
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link img {
  width: 100%;
  max-width: 450px;
  height: 294px;
}

@media screen and (min-width: 768px) {
  .portfolio-section-list {
    height: 54px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .portfolio-section-list .item:not(:last-child) {
    margin-right: 8px;
  }
  .portfolio-section-list .item:nth-child(-n + 3) {
    margin-bottom: 0px;
  }
  .portfolio-link {
    width: 100%;
    max-width: 354px;
  }
  .portfolio-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
  .portfolio-list .item {
    width: 100%;
    max-width: 354px;
    margin-bottom: 0px;
    display: block;
    background: #ffffff;
    border: 1px solid #eeeeee;
  }
  .portfolio-list .item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .portfolio-list .item:not(:last-child) {
    margin-bottom: 30px;
  }
  .portfolio-list h2 {
    font-size: 17px;
    line-height: 2;
  }
  .item-title {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-section-list {
    margin-bottom: 50px;
  }
  .portfolio-list .item {
    margin-right: 30px;
    margin-bottom: 30px;
    max-width: 370px;
  }
  .portfolio-list .item:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio-list .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .portfolio-list .portfolio-link {
    max-width: 370px;
  }
  .portfolio-list .portfolio-link img {
    max-width: 370px;
  }
}
/*# sourceMappingURL=main.css.map */