//mobile

.client {
  padding-top: 60px;
  padding-bottom: 60px;
}

.client-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0px auto 30px;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.client-item:nth-child(-n + 4) {
  margin-bottom: 30px;

  &:hover .client-icon,
  &:focus .client-icon {
    fill: var(--accent-color);

    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.client-icon {
  fill: #afb1b8;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

//tablet
@media screen and (min-width: 768px) {
  .client-container {
    display: flex;
    flex-direction: column;
  }
  .client-item {
    width: 100%;
    max-width: 226px;
    max-height: 90px;
  }
  .client-link {
    width: 100%;
    max-width: 226px;
    max-height: 90px;
  }
}
