/*CLIENT*/

.client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0px auto 50px;
}

.client-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.client-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;

  border: 1px solid #afb1b8;
  border-radius: 4px;

  &:hover,
  &:focus {
    border-color: var(--accent-color);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover .client-icon,
  &:focus .client-icon {
    fill: var(--accent-color);

    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon {
  fill: #afb1b8;

  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
