/*FOOTER*/

footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 0;
  background-color: var(--bg-color);

  & img {
    margin-bottom: 20px;
  }
}

.footer-block {
  width: 1200px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.address {
  margin-top: 0;
  margin-bottom: 0;
}

.address-list {
  padding-left: 0;
}

.address-office {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
}

.address-mail,
.address-phone {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.address-item {
  margin-top: 9px;
}

.soc-block {
  display: flex;
  width: 206px;
  height: 80px;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 12px;

  & ul {
    display: flex;
  }

  & h3 {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.14;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
  }
  & a {
    background-color: #ffffff1a;
  }

  & .soc-item:not(:last-child) {
    margin-right: 10px;
  }
}

.icon-footer {
  fill: var(--primary-bg-color);
}
