.futures {
  padding-top: 60px;
  padding-bottom: 60px;
}
.futures-flex {
  display: flex;
  flex-direction: column;
  padding-left: 0;

  & .item {
    max-width: 450px;
    display: block;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  & .item::before {
    display: block;
    max-width: 450px;
    height: 120px;
    content: "";
    background-color: #f5f4fa;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
  }

  & .icon-detales::before {
    background-image: url("../images/antenna\ 1.svg");
  }

  & .icon-intime::before {
    background-image: url("../images/clock\ 1.svg");
  }

  & .icon-plan::before {
    background-image: url("../images/diagram\ 1.svg");
  }

  & .icon-tech::before {
    background-image: url("../images/astronaut\ 1.svg");
  }
}

.futures-list-title {
  margin-top: 0;
  margin-bottom: 10px;

  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.futures-list-description {
  display: inline-block;
  margin-top: 0;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) {
  .futures-flex {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    & .item {
      max-width: 354px;
      &:nth-child(odd) {
        margin-right: 30px;
      }
      &:not(:last-child) {
        margin-bottom: 0px;
      }
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
    }
    & .item::before {
      max-width: 354px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .futures {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .futures-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & .item {
      max-width: 270px;
        &:nth-child(-n + 2) {
        margin-bottom: 0px;
      }
        &:not(:last-child){
        margin-right: 30px;
      }
    }
}

//   & p {
//     margin-top: 0;
//     margin-bottom: 0;
//   }

//   & h2 {
//     margin-top: 0;
//     margin-bottom: 10px;
//   }

//   & .item::before {
//     display: block;
//     height: 120px;
//     content: "";
//     background-color: #f5f4fa;
//     margin-bottom: 30px;
//     background-repeat: no-repeat;
//     background-position: center;
//   }

//   & .icon-detales::before {
//     background-image: url("../images/antenna\ 1.svg");
//   }

//   & .icon-intime::before {
//     background-image: url("../images/clock\ 1.svg");
//   }

//   & .icon-plan::before {
//     background-image: url("../images/diagram\ 1.svg");
//   }

//   & .icon-tech::before {
//     background-image: url("../images/astronaut\ 1.svg");
//   }
// }

// .futures-flex {
//   display: flex;
//   flex-wrap: wrap;
//   padding-left: 0;

//   & .item {
//     display: flex;
//     flex-direction: column;
//     width: 270px;
//     margin-right: 30px;
//   }

//   & .item:nth-child(4n) {
//     margin-right: 0;
//   }
// }

// .futures-list-title {
//   font-style: normal;
//   font-weight: bold;
//   font-size: 14px;
//   line-height: 1.2;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--title-text-color);
// }

// .futures-list-description {
//   font-style: normal;
//   font-weight: normal;
//   font-size: 14px;
//   line-height: 1.71;
//   letter-spacing: 0.03em;
//   color: var(--primary-text-color);
// }
