.button-burger {
  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-icon {
  width: 40px;
  height: 40px;
}
.button-burger,
.mobile-close-button {
  background-color: transparent;
  border: none;
  padding: 0;
}
.burger-icon {
  width: 24px;
  height: 16px;
}
.mobile-close-icon {
  width: 40px;
  height: 40px;
}
.mobile-close-button {
  position: absolute;
  right: 15px;
  top: 10px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 100%;
  max-width: 480px;
  height: 796px;
  padding: 48px 40px;
  background-color: var(--primary-bg-color);
  border: none;
  z-index: 1;
}
.mobile-menu.is-open {
  transform: translateX(-50%) translateY(0);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-menu-nav-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-contact-list {
  margin-top: 302px;
  & .mobile-contact-list-item:not(:last-child) {
    margin-bottom: 32px;
  }
  & .mobile-contact-list-item:last-child {
    margin-bottom: 64px;
  }
  & .mobile-contact-link-tel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  & .mobile-contact-link-mail {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
  }
  & .mobile-contact-link-tel:hover,
  .mobile-contact-link-tel:focus {
    color: var(--accent-color);
  }
  & .mobile-contact-link-mail:hover,
  .mobile-contact-link-mail:focus {
    color: var(--accent-color);
  }
}

.mobile-social-list {
  display: flex;
  flex-direction: row;
  & a {
    display: block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  & .mobile-social-link-item {
    padding-right: 15px;
  }
  & .mobile-social-link-item:not(:last-child) {
    margin-right: 20px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contact-us {
    display: none;
  }
}
.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

@media screen and (min-width: 768px) {
  .mobile-close-button,
  .button-burger {
    display: none;
  }

  .container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    margin-left: 83px;
    padding-left: 0;

    & .item:not(:last-child) {
      margin-right: 50px;
    }

    /* Задаем падингом больше зону для ховер и фокус*/
    & a {
      position: relative;
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    & .active {
      color: var(--accent-color);

      &::after {
        content: " ";

        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
      }
    }

    & a {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--title-text-color);
    }
    & a:hover,
    & a:focus {
      color: var(--accent-color);

      transition-duration: 500ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .contact-us {
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    flex-direction: column;

    & .item:not(:last-child) {
      margin-bottom: 10px;
    }

    & a {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
    }
    & a:hover,
    & a:focus {
      color: var(--accent-color);

      transition-duration: 500ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    & a:hover .icon-letter,
    & a:focus .icon-letter,
    & a:hover .icon-smartphone,
    & a:focus .icon-smartphone {
      fill: currentColor;
    }
  }

  .icon-letter,
  .icon-smartphone {
    margin-right: 10px;
    fill: var(--primary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact-us {
    flex-direction: row;
    align-items: center;

    & .item:not(:last-child) {
      margin: 0px 30px 0px 0px;
    }

    & a {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}
