@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contact-us {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .container-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    margin-left: 83px;
    padding-left: 0;

    & .item:not(:last-child) {
      margin-right: 50px;
    }

    /* Задаем падингом больше зону для ховер и фокус*/
    & a {
      position: relative;
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    & .active {
      color: var(--accent-color);

      &::after {
        content: " ";

        position: absolute;
        left: 0;
        bottom: 0;

        display: block;
        width: 100%;
        height: 4px;
        background-color: var(--accent-color);
        border-radius: 2px;
      }
    }

    & a {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--title-text-color);
    }
    & a:hover,
    & a:focus {
      color: var(--accent-color);

      transition-duration: 500ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .contact-us {
    display: flex;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    flex-direction: column;

    & .item:not(:last-child) {
      margin-bottom: 10px;
    }

    & a {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: var(--primary-text-color);
    }
    & a:hover,
    & a:focus {
      color: var(--accent-color);

      transition-duration: 500ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    & a:hover .icon-letter,
    & a:focus .icon-letter,
    & a:hover .icon-smartphone,
    & a:focus .icon-smartphone {
      fill: currentColor;
    }
  }

  .icon-letter,
  .icon-smartphone {
    margin-right: 10px;
    fill: var(--primary-text-color);
  }
}

@media screen and (min-width: 1200px) {
  .contact-us {
    flex-direction: row;
    align-items: center;

    & .item:not(:last-child) {
      margin: 0px 30px 0px 0px;
    }

    & a {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
}
