.section-hero {
  width: 100%;
  padding: 118px 15px;
  max-width: 480px;
  height: 400px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-mobile@2x.jpg);
  }
}

.hero-title {
  margin-top: 0;
  color: var(--primary-bg-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button-hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.875;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  display: block;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
  border-style: solid;
  border-radius: 4px;
  border-color: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .section-hero {
    max-width: 768px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-tablet@2x.jpg);
    }
  }
}

@media screen and (min-width: 1200px) {
  .section-hero {
    max-width: 1600px;
    padding: 200px 0;
    height: 600px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-desctop@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .section-hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-desctop@2x.jpg);
    }
  }

  .hero-title {
    font-size: 44px;
    line-height: 1.363;
  }
}
