.our-team-container {
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 60px;
}

.our-team {
  background-color: #f5f4fa;

  & p {
    margin-top: 0;
    margin-bottom: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

  & h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
  }
  & img {
    margin-top: 0;
    margin-bottom: 30px;
    width: 100%;
    max-width: 450px;
    max-height: 460px;
  }
}

.our-team-list {
  display: flex;
  padding-left: 0;
  flex-direction: column;

  & .item {
    justify-content: space-between;
    width: 100%;
    max-width: 450px;
    text-align: center;
    background: var(--primary-bg-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  // & .item + .item {
  //   margin-left: 30px;
  // }

  & h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }
}

.soc-list {
  display: flex;
  margin: 0px 122px 24px 122px;
  padding-left: 0px;
  justify-content: space-between;
  align-items: center;
}

.soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 44px;
  max-height: 44px;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: var(--accent-color);

    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover .soc-icon,
  &:focus .soc-icon {
    fill: var(--primary-bg-color);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.soc-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

// TABLET
@media screen and (min-width: 768px) {
  .our-team {
    & h2 {
      font-size: 28px;
      line-height: 1.17;
    }
    & img {
      width: 100%;
      max-width: 354px;
      max-height: 374px;
    }
  }
  .our-team-list {
    display: flex;
    flex-direction: unset;
    flex-wrap: wrap;
    justify-content: space-between;
    & .item {
      width: 100%;
      max-width: 354px;
      max-height: 536px;
      &:not(:last-child) {
        margin-bottom: 0px;
      }
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
      // &:nth-child(odd) {
      //   margin-right: 30px;
      // }
    }
  }
  .soc-list {
    margin: 0px 74px 24px 74px;
  }
}

// Desctop

@media screen and (min-width: 1200px) {
  .our-team-container {
    padding: 94px 0px;
  }

  .our-team {
    & h2 {
      padding-bottom: 50px;
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 0px;
    }
  }

  .our-team-list {
    flex-direction: row;
    flex-wrap: nowrap;
    & .item {
      width: 100%;
      max-width: 270px;
      max-height: 428px;
      &:nth-child(-n + 2) {
        margin-bottom: 0px;
      }
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    & h3 {
      line-height: 1.19;
    }
    & p {
      line-height: 1.19;
    }
  }
  .soc-list {
    margin: 0px 32px 30px 32px;
  }
}
