.portfolio-section {
  border-top: 1px solid #ececec;
  padding-top: 60px;
  padding-bottom: 60px;
}

.portfolio-section-list {
  // width: 362px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  & .item:not(:last-child) {
    margin-right: 8px;
  }
  & .item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }

  & button {
    background-color: #f5f4fa;
    color: var(--title-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    border-color: transparent;
    border-radius: 4px;
    padding: 6px 22px;
  }
  & button:hover,
  & button:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;

    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

//content
.portfolio-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  & .item {
    width: 450px;
    margin-bottom: 30px;
    display: block;
    background: #ffffff;
    border: 1px solid #eeeeee;
  }
  & .item-title {
    padding: 20px 24px;
    width: 402px;
    margin-right: 0;
  }
  & h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin: 0 0 4px 0;
  }
}
.portfolio-list-title {
  margin: 0;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

.overlay-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: 250ms ease;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 294px;
}

.portfolio-link {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &:hover .overlay,
  &:focus .overlay {
    transform: translateY(0);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.15);
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  & img {
    width: 450px;
    height: 294px;
  }
}
