/*what-we-are-do*/

.work-flex {
  display: flex;
  padding-left: 0;

  & .item {
    justify-content: space-between;
  }

  & .item + .item {
    margin-left: 30px;
  }

  & img {
    display: block;
    width: 370px;
    height: 294px;
  }
}

.desctop-app,
.mobile-app,
.designe-solution {
  position: relative;
}

.description-our-work {
  display: block;
  position: absolute;
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0;

  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-bg-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-work {
  padding-top: 0px;
  padding-bottom: 94px;
}

.container-our-work {
  margin: auto;
}

.what-we-are-do {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}
