.logo-footer {
  width: 154px;
  height: 28px;
  left: 163px;
  top: 4908px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-footer-2 {
  color: var(--primary-bg-color);
}
