.logo-header {
  margin: 16px 0;
  width: 134px;
  height: 28px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-header-2 {
  color: var(--logo-color);
}

@media screen and (min-width: 1200px) {
  .logo-header {
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }

  .logo-header-2 {
    color: var(--logo-color);
  }
}
