/* mailing footer */

.mailing-form {
  display: block;
  position: relative;
  & h3 {
    margin: 0 0 20px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    text-align: center;
  }
}

.input-mailing {
  width: 450px;
  height: 50px;
  padding: 16px;
  margin-bottom: 20px;

  color: var(--primary-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  background-color: var(--bg-color);
}

.mailing-button {
  display: flex;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  justify-content: space-evenly;
  align-items: center;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  border: transparent;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
}

//tablet
@media screen and (min-width: 768px) {
  .mailing-form {
    margin-top: 60px;
    & h3 {
      text-align: center;
      margin-top: 12px;
    }
  }
  .input-mailing {
    width: 768px;
  }
  .mailing-block {
    margin: 0 auto;
  }
}

//desctop
@media screen and (min-width: 1200px) {
  .mailing-form {
    margin-top: 0px;
    & h3 {
      text-align: start;
    }
  }
  .mailing-block {
    display: flex;
  }
  .contact-block {
    width: 100%;
  }
  .input-mailing {
    width: 358px;
    margin-right: 12px;
  }
}
